/*------ 
http://encome.in/tools/css/reset-v2/
v1.0 | 18052017
License: MIT
--------*/

/*------------------------
Responsive CSS Reset
------------------------*/
*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}
