:root {
	--brand-color: #198754;
}
body {
	font-family: 'Inter', sans-serif;
}


p { font-size: 15px; }

@media (min-width: 768px) {
	p { font-size: 16px; }
}


/* =====[BUTTON]===== */
.btn {
	/* font-size: 18px; */
	/* font-weight: 500; */
	/* padding: 8px 20px; */
}


/* =====[HEADER]===== */

.navbar {}
.navbar-brand {
	font-size: 20px;
	display: inline-flex;
	align-items: center;
}
.navbar-brand svg {
	width: 52px;
	height: 52px;
}
.navbar-brand svg {}


/* =====[SECTION]===== */
.section {
	padding: 100px 0 100px 0;
}

/* =====[SECTION TITLE]===== */
.section-title {
	font-size: 34px;
	font-weight: 500;
	margin-bottom: 20px;
}


/* =====[SECTION CLIENTS]===== */
.section-clients { padding: 35px 0 40px 0; }
.section-clients h6 {
	font-size: 15px;
	color: #A5A5A5;
	margin-bottom: 20px;
}
.client-carousel .owl-nav,
.client-carousel .owl-dots {
	display: none;
}
.client-carousel .media { box-shadow: inset 0px 0px 0px 1px rgba(229,229,229,1); }
.client-carousel .media img { max-width: 46px; }

@media (min-width: 576px) {
	.client-carousel .media img { max-width: 52px; }
}
@media (min-width: 768px) {
	.section-clients { padding: 45px 0 50px 0; }
	.section-clients h6 {  font-size: 16px; }
	.client-carousel .media img { max-width: 60px; }
}
@media (min-width: 992px) {
	.section-clients h6 { margin-bottom: 30px; }
	.client-carousel .media img { max-width: 70px; }
}
@media (min-width: 1200px) {
	.client-carousel .media img { max-width: 80px; }
}

/* =====[SECTION FEATURES]===== */
.section-features {}
.section-features .card {
	height: 100%;
}
.section-features .card .card-header {}
.section-features .card .card-header svg {
	width: 52px;
	height: 52px;
}



/* =====[SECTION GRID MIN]===== */
.section-grid-min .content h4 {
	font-size: 18px;
	margin-bottom: 12px;
}
.section-grid-min .content a { color: var(--brand-color); }
.section-grid-min .content a:hover {
	background: var(--brand-color);
	color: #FFFFFF;
}

@media (min-width: 1200px) {
	.section-grid-min .content h4 {
		font-size: 20px;
		margin-bottom: 14px;
	}
}

/* =====[SECTION GRID]===== */
.section-grid .media:before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 120px;
	background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
}
.section-grid .media .media-overlay {
	z-index: 10;
}
.section-grid .lead {
	font-size: 20px;
	margin-bottom: 30px;
}
.section-grid {}