:root {
	--brand-color: #d33a2c;
	--color: #333333;
	--link-color:#006fc6;

	--primary-bg:#006fc6;
	--success-bg:#18a46f;
	--danger-bg:#e62143;
	--warning-bg:#ff6411;
}

body {
	font-family: 'Inter', sans-serif;
	color: var(--color);
}

/* =====[CONTAINER]===== */
@media (max-width: 767px) {
	.container {
		padding-left: 20px;
		padding-right: 20px;
	}
}




.card {
	margin-bottom: 26px;
}
.card .card-media {}
.card .card-media img {
	width: 100%;
	border-top-left-radius: var(--bs-card-inner-border-radius);
	border-top-right-radius: var(--bs-card-inner-border-radius);
}
.card .card-body {
	text-align: center;
}
.card .card-body .card-title {
	font-size: 16px;
}
